<!-- NAVBAR -->
<mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{this.usernameOutput}}</span>
    <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      Gérer les cours
    </button>
    <button mat-menu-item>
      <mat-icon>note_add</mat-icon>
      Gérer les étudiants
    </button>
  </mat-menu>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        routerLink="/login">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<!-- NAVBAR -->
<!-- SIDEBAR -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <mat-list-item (click)="btnClick('listProduct')">
                <mat-icon id="micon" mat-list-icon>shopping_cart</mat-icon>
                <h4>Liste des cours</h4>
            </mat-list-item>
            <mat-list-item (click)="btnClick('listCommand')">
                <mat-icon id="micon" mat-list-icon>reorder</mat-icon>
                <h4>Liste des étudiants</h4>
            </mat-list-item>
            <mat-list-item (click)="btnClick('listMyDemand')">
                <mat-icon id="micon" mat-list-icon>next_week</mat-icon>
                <h4>Mes cours</h4>
            </mat-list-item>
            <mat-list-item *ngIf="consumer.role == 'admin'" (click)="btnClick('validateCommand')">
                <mat-icon id="micon" mat-list-icon>swap_horizontal_circle</mat-icon>
                <h4>Liste des étudiants</h4>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <!-- SIDEBAR -->
    <!-- CONTENT -->
  <div class="example-sidenav-content">
    <div class="bloc">
            <router-outlet></router-outlet>
    </div>
  </div>
    <!-- CONTENT -->
</mat-drawer-container>
