<div class="container">
  <div class="row">
    <div class="col" *ngFor="let data of dataPurchase | paginate:{ itemsPerPage: 8, currentPage: p }">
      <div class="card-style">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="../../../assets/img/bonCommand.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{data.reference}}</h5>
            <p class="card-sub-text">{{data.products[0].shortLabel}}</p>
            <p class="card-sub-text">{{data.dateCreation | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
            <p class="card-sub-text">PRIX TOTAL : {{data.qte * data.products[0].price}} DT</p>
            <div style="display: flex; justify-content:center; align-items:center;">
              <button mat-stroked-button color="warn" type="button" (click)=deleteCommand(data)>Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
