<div class="float-right p-3">
  <mat-form-field appearance="fill">
    <mat-label>Categorie</mat-label>
    <mat-select>
      <mat-option value="Science">Science</mat-option>
      <mat-option value="Calcul">Calcul</mat-option>

    </mat-select>
  </mat-form-field>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-4" *ngFor="let data of courseData | paginate:{ itemsPerPage: 8, currentPage: p }">
      <div class="card card-margin">
        <div class="card-header no-border">
          <h5 class="card-title">{{data.title}}</h5>
          <div class="badge ml-auto d-flex justify-content-end"><span>{{data?.category?.title}}</span> </div>
        </div>
        <div class="card-body pt-0">
          <div class="widget-49">
            <div class="widget-49-title-wrapper">
              <div [class]="showDateColor()">
                <span class="widget-49-date-day">{{data.beginDate | date : 'dd'}}</span>
                <span class="widget-49-date-month">{{getMonth(data.beginDate | date : 'MM')}}</span>
              </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title">Assuré par Mr ahmed</span>
                <span class="widget-49-meeting-time">{{data.duree}} Hrs</span>
              </div>
            </div>
            <ol class="widget-49-meeting-points">
              <li class="widget-49-meeting-item"><span>Du Lundi jusqu'à jeudi à 12h:30mn</span></li>
            </ol>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style]="findPersentSubscriber(data)" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="mt-3"> <span class="text1">{{findNumberSubscribed(data)}}</span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
